alembic
Flask
Flask-Cors
Flask-JWT
Flask-JWT-Extended
Flask-SQLAlchemy
Jinja2
psycopg2-binary
SQLAlchemy
Werkzeug==0.16.1
python-dotenv
Flask-Script
black
gunicorn
marshmallow
flask-swagger
flask-restplus
pytest
